<div class="car-card">
    <div class="car-image">
        <div class="car-rating">
            <span class="rating-badge">4.62 <i class="fa fa-star"></i><p>|</p><span class="trips-count">36 Trips</span></span>

        </div>
    </div>
    <div class="car-info">
        <div class="main-car-info">
            <h3 class="car-name">Maruti Suzuki Swift</h3>
            <h6>Manual . Petrol . 5 Seats</h6>

            <div class="car-pricing">
                <div>
                    <span class="discounted-price">₹50/hr</span>
                    <span class="original-price">₹58/hr</span>
                </div>
                <div class="total-price">
                    ₹33,800 <span class="fees-exclusion">(excluding fees)</span>
                </div>
            </div>

        </div>
        
        <p>--------------------------------------------------</p>
        <div class="car-location">
            <i class="fa fa-walking"></i> 3.1 km away
        </div>
        <div class="home-delivery-btn">Home Delivery</div>
    </div>
</div>
