@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<footer>
    <div class="super-sub-footer">
        <button class="know-more">Know More</button>
    </div>
    <div class="sub-footer">
        <br />
        <br />
        <br />
        <br />
        <div class="footer-content">
            <div class="footer-logo">
                <a><img src="~/images/acha-rentz-logo-black.png"></a>
            </div>
            <div class="footer-links">
                <ul>
                    <li>Rental Services in Hyderabad</li>
                    <li>Rental Services in Delhi</li>
                    <li>Rental Services in Goa</li>
                    <li>Rental Services in Pune</li>
                    <li>Rental Services in Bangalore</li>
                    <li>Rental Services in Vizag</li>
                </ul>
                <ul>
                    <li>Rental Services in Hyderabad</li>
                    <li>Rental Services in Delhi</li>
                    <li>Rental Services in Goa</li>
                    <li>Rental Services in Pune</li>
                    <li>Rental Services in Bangalore</li>
                    <li>Rental Services in Vizag</li>
                </ul>
                <ul>
                    <li>Rental Services in Hyderabad</li>
                    <li>Rental Services in Delhi</li>
                    <li>Rental Services in Goa</li>
                    <li>Rental Services in Pune</li>
                    <li>Rental Services in Bangalore</li>
                    <li>Rental Services in Vizag</li>
                </ul>
            </div>
            <div class="footer-caption">
                <p>
                    Rentals Made Super
                </p>
                <p>
                    Easy
                </p>
            </div>
            <div class="footer-info">
                <div class="social-icons">
                    <a href="#"><img src="~/images/facebook-logo.png" alt="Facebook"></a>
                    <a href="#"><img src="~/images/instagram-logo.png" alt="Instagram"></a>
                    <a href="#"><img src="~/images/linkedin-logo.png" alt="LinkedIn"></a>
                </div>
            </div>
        </div>
        <p>_____________________________________________________________________________________________________________________________________________</p>
        <div class="footer-bottom">
            <p>
                By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy, and
                General Notice. All trademarks are properties of their respective owners. 2023 ACHA rentz. All rights reserved.
            </p>
        </div>
    </div>

</footer>