
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<header>
    <div class="logo">
        <a asp-controller="Main" asp-action="HomePage"><img src="~/images/acha-rentz-logo-black.png" /></a>
    </div>
    <nav>
        <ul>
            <li><a href="#">Rent a Car</a></li>
            <li><a href="#">Register a Car</a></li>
        </ul>
    </nav>
    <div class="auth-links">
        <a asp-controller="Main" asp-action="LoginPage">Register/Login</a>
    </div>
</header>
