@{
    ViewData["Title"] = "Home";
}

<div class="home-banner">
    <div class="banner-content">
        <div class="banner-content-with-car-img">
            <div class="banner-content-text">
                <h1>Rent or </h1>
                <h1>Register a Car for Rent</h1>
                <h3>In Just 5 Steps</h3>
            </div>
            <div class="banner-content-img">
                <a href="#"><img src="~/images/home-page-sport-car.png" alt="Alternate Text" /></a>
            </div>
        </div>
        <div class="home-banner-buttons">
            <button>Rent a Car</button>
            <button>Register a Car</button>
        </div>
    </div>
</div>

<section class="book-drive-section">
    <div class="sub-book-drive-section">
        <h2>Self Drive Car Rentals in Hyderabad</h2>
        <p>Book Your Drive Now</p>
    </div>
    <form>
        <div class="location-home-page">
            <a><img src="~/images/location-icon.png" alt="Alternate Text" /></a>
            <input type="text" placeholder="Location: Hyderabad, State, City" required>
        </div>
        <div class="super-form-to-div">
            <div class="from-to-div-1">
                <h4 style="margin:10px">From</h4>
                <input type="date" placeholder="Date" required>
                <input type="time" placeholder="Time" required>
            </div>
            <div class="from-to-div-2">
                <h4 style="margin:10px">To</h4>
                <input type="date" placeholder="Date" required>
                <input type="time" placeholder="Time" required>
            </div>
        </div>
        <button type="submit">Get a Car</button>
    </form>
</section>

<section class="popular-places">
    <h2>Popular Places near you</h2>
    <div>
        <select>
            <option>Leisure</option>
            <option>place1</option>
            <option>place2</option>
            <option>place3</option>
            <option>place4</option>
        </select>
        <select>
            <option>Must visit</option>
            <option>place1</option>
            <option>place2</option>
            <option>place3</option>
            <option>place4</option>
        </select>
    </div>
    <div>
        <select>
            <option>Long Drives</option>
            <option>place1</option>
            <option>place2</option>
            <option>place3</option>
            <option>place4</option>
        </select>
        <select>
            <option>For Students</option>
            <option>place1</option>
            <option>place2</option>
            <option>place3</option>
            <option>place4</option>
        </select>
    </div>
</section>


