@{
    ViewData["Title"] = "testview";
}


<div class="pura-page">
    <div class="test-side-bar">
        <p>abc</p>
    </div>
    <div class="test-main-body">
        <div class="test-img-box">
            <p>abc</p>
        </div>
        <div class="test-khali-baxa">
            <p>abc</p>
        </div>
        <div class="test-not-khali-baxa">
            <p>abc</p>
        </div>
    </div>
</div>


