@{
    ViewData["Title"] = "UploadCarImagesPage";
}

<section class="upload-car-images-section">
    <div class="upload-car-images-container">
        <div class="upload-car-images-page-logo-and-text">
            <img class="upload-car-imgs-page-logo" src="~/images/acha-rentz-logo.png" />
            <p>Rentals Made Super Easy</p>
            <img src="~/images/home-page-sport-car.png" alt="Car Image" class="promo-car-image">
        </div>
        <div class="image-upload-grid">
            <div class="image-upload">
                <label for="image1">Upload Image of your car</label>
                <input type="file" id="image1" accept="image/*">
                <p>Image 1*</p>
            </div>
            <div class="image-upload">
                <label for="image2">Upload Image of your car</label>
                <input type="file" id="image2" accept="image/*">
                <p>Image 2*</p>
            </div>
            <div class="image-upload">
                <label for="image3">Upload Image of your car</label>
                <input type="file" id="image3" accept="image/*">
                <p>Image 3*</p>
            </div>
            <div class="image-upload">
                <label for="image4">Upload Image of your car</label>
                <input type="file" id="image4" accept="image/*">
                <p>Image 4*</p>
            </div>
            <div class="image-upload">
                <label for="image5">Upload Image of your car</label>
                <input type="file" id="image5" accept="image/*">
                <p>Image 5*</p>
            </div>
            <div class="image-upload">
                <label for="image6">Upload Image of your car</label>
                <input type="file" id="image6" accept="image/*">
                <p>Image 6*</p>
            </div>
        </div>

        <button class="upload-photos-btn">Upload Photos</button>
    </div>
</section>



